* {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.room {
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
}
.verandah {
    width: 658px;
    height: 61px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: 290px;
}
.mainroom {
    width: 220px;
    position: absolute;
    border-bottom: 1px solid black;
    top: 60px;
    left: 290px;
    height: 150px;
}
.livingroom {
    width: 658px;
    position: absolute;
    border-bottom: 1px solid black;
    top: 60px;
    left: 290px;
    height: 300px;
}
.smallroom1 {
    width: 200px;
    position: absolute;
    border-bottom: 1px solid black;
    left: 748px;
    top: 60px;
    height: 120px;
}
.smallroom2 {
    width: 170px;
    position: absolute;
    border-top: 1px solid black;
    top: 213px;
    left: 778px;
    height: 147px;
}
.kitchen {
    width: 200px;
    position: absolute;
    top: 209.5px;
    left: 290px;
    height: 150.5px;
}
.bathroom {
    width: 120px;
    position: absolute;
    top: 179px;
    left: 828px;
    height: 34.5px;
}
.entrance {
    width: 150px;
    position: absolute;
    border-top: 1px solid black;
    top: 310px;
    left: 558px;
    height: 50px;
}