* {
    margin: 0 auto;
    padding: 0s;
}

.a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #bcbcbc;
    text-align: center;
}
.a:hover {
    cursor: url(https://picsum.photos/128/128) 1 1, auto;
}