* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.conts {
    display: flex;
    background-color: #aeddf0;
    width: 1200px;
    height: 180px;
}

.texts {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-top: 50px;
    margin-left: 200px;
}

.highlight {
    color: #852f96;
    font-weight: bold;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background-color: #852f96;
    color: white;
    margin-right: 10px;
}

.btn2 {
    background-color: #fafcff;
    color: #852f96;
}