* {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
    display: block;
}
header {
    width: 1200px;
    height: 50px;
    background-color: #fff;
    display: flex;
}
#header .logo {
    width: 200px;
    height: 50px;
    border: #333;
}
.riff {
    margin: 0;
    width: 100px;
    transform: translate(57%, 10%);
    font-size: 25px;
    font-weight: bold;
}
#header .nav {
    width: 1000px;
    height: 50px;
    display: flex;
}
ul {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.main {
    position: relative;
    margin: 0;
    width: 150px;
    height: 40px;
    list-style-type: none;
    z-index: 2;
    background-color: rgb(218, 218, 218);
}
.main li {
    width: 150px;
    height: 40px;
    line-height:  40px;
}
.main:hover {
    cursor: pointer;
    background-color: grey;
}
.main:hover .sub {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    animation-name: navbar;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes navbar {
    0% {height: 0px;}
    100% {height: 160px;}
}
.sub {
    width: 150px;
    height: 0px;
    list-style: none;
    overflow: hidden;
}
.sub li {
    width: 150px;
    height: 40px;
}
p {
    transform: translate(0%,55%);
}
.sub > li:hover {
    cursor: pointer;
    background-color: grey;
}
.btn {
    transform: translate(40%, 40%);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    border: 1.5px solid grey;
    background-color: #fff;
}
.btn:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}
#mola {
    display: flex;
}
.mur {
    width: 720px;
}
.fkfkfkfk {
    margin: 0;
    width: 720px;
    white-space: pre;
    transform: translate(-13%, 10%);
    font-size: 35px;
    font-weight: bold;
}
.jjk {
    width: 200;
    font-size: 10px;
    transform: translate(8.5%, -50%);
    color: grey;
}
.but {
    width: 115px;
    height: 35px;
    border-radius: 7px;
    transform: translate(53%, 30%);
    border: none;
    background: linear-gradient(90deg, rgb(0, 0, 0), 50%, rgb(149, 149, 149));
}
.but:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(86, 86, 86), 50%, rgb(223, 223, 223));
}
.cat {
    transform: translate(-10%, 80%);
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.catcat {
    transform: translate(120%,-30%);
    
}
.catcatcat {
    width: 480px;
    height: 480px;
    margin: 0;
    transform: translate(-23%, 0%);
    z-index: 1;
}