* {
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}
.super_container {
    display: flex;
}

.container1 {
    background-color: #e5c2c2;
    width: 70%;
    margin: 0 auto;
}

.container2 {
    background-color: #e5c2c2;
    padding: 50px 0;
    width: 30%;
}

.textcontents h1 {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-top: 50px;
    margin-left: 200px;
}

.textcontents p {
    font-size: 25px;
    color: #000;
    margin-left: 200px;
}

.highlight {
    color: #339ec9;
    font-weight: bold;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.startbutton {
    background-color: #339ec9;
    color: white;
    margin-top: 30px;
}

.learnmorebutton {
    background-color: #d8dde6;
    color: #339ec9;
    margin-top: 30px;
    margin-right: 100px;
}