@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0;
}
#wrap {
    border-radius: 5px;
    padding: 10px;
    width: 420px;
    height: 660px;
    background-color: grey;
    box-sizing: border-box;
}
header {
    border-radius: 5px;
    width: 400px;
    height: 80px;
    background-color: red;
    box-sizing: border-box;
}
nav {
    margin-top: 10px;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    background-color: green;
    box-sizing: border-box;
}
#container {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    width: 400px;
    height: 380px;
    display: flex;
    box-sizing: border-box;
}
aside {
    margin: 0;
    border-radius: 5px;
    width: 90px;
    height: 380px;
    background-color: pink;
    box-sizing: border-box;
    box-sizing: border-box;
}
main {
    margin-left: 10px;
    width: 300px;
    border-radius: 5px;
    height: 380px;
    background-color: skyblue;

}
#wow {
    margin-top: 60px;
    border-radius: 5px;
    width: 270px;
    height: 250px;
    background-color: cyan;
}
figure {
    position: relative;
    top: 50px;
    border-radius: 5px;
    width: 250px;
    height: 90px;
    background-color: yellow;
}
p {
    position: relative;
    top: 60px;
    border-radius: 5px;
    width: 250px;
    height: 90px;
    background-color: yellowgreen;
}
section {
    margin-top: 5px;
    border-radius: 5px;
    width: 270px;
    height: 50px;
    background-color: blue;
    box-sizing: border-box;
}
footer {
    margin-top: 10px;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    background-color: blueviolet;
    box-sizing: border-box;
}