* {
    margin: 0 auto;
    padding: 0;
}

.box {
    position: relative;
    top: 200px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(-15deg);
    animation: spin infinite linear 4s;
}
.side {
    position: absolute;
    transform-origin: top;
}
body:has(.box > .side:hover) .box {
    animation-play-state: paused;
}
.box:hover {
    animation-play-state: paused;
}
.a {
    border: solid;
    opacity: 0.5;
    border-color: transparent transparent lightgreen transparent;
    border-width: 0px 100px 200px 100px;
    transform: rotateY(0deg) rotateX(30deg);
}
.b {
    border: solid;
    opacity: 0.5;
    border-color: transparent transparent red transparent;
    border-width: 0px 100px 200px 100px;
    transform: rotateY(90deg) rotateX(30deg);
}

.c {
    border: solid;
    opacity: 0.5;
    border-color: transparent transparent yellow transparent;
    border-width: 0px 100px 200px 100px;
    transform: rotateY(180deg) rotateX(30deg);
}

.d {
    border: solid;
    opacity: 0.5;
    border-color: transparent transparent skyblue transparent;
    border-width: 0px 100px 200px 100px;
    transform: rotateY(270deg) rotateX(30deg);
}

.bottom {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    transform: rotateX(270deg) translateZ(73px);
}

@keyframes spin {
    0% {
        transform: rotateX(-15deg) rotateY(0deg); 
    }
    50% {
        transform: rotateX(-15deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-15deg) rotateY(360deg); 
    }
}
